*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    z-index: 1;
    margin-bottom: 40px;
}
.container1{
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
    padding: 0em 1em;
}
.cont{
    justify-content: space-between;
    display: flex;
    line-height: 30px;
    padding: 7px 5px;
    word-spacing: 10px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    word-spacing: 0px;

}

.small-botton-blue{
    background-color: #0160ff;
    padding: 5px 7px;
    color: white;
    max-width: 185px;
    margin-bottom: 25px;
}

.section{
    padding: 35px;
    background-color: #c0e7fe;
    width: 100%;
}

.container{
    width: 100%;
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0em 1em;
    min-height: 400px;
}

.relative{
    position: relative;
    top: 40px;
}

h1{
    font-size: 70px;
    padding-bottom: 40px;
}

.col1{
    width: calc(100% / 3);
    display: inline-block;
}

p{
    padding-bottom: 20px;
}

.arrow{
    display: block;
    padding-top: 55px;
    font-size: 35px;
}

.col2{
    width: calc(100% - 290px/ 1);
    float: right;
}